{% extends 'base.html' %}
{% load static %}
{% block title %} News in {{ category.category_name }} category {% endblock %}
{% block content %}
<div class="page-content bg-white">
	<!-- inner page banner -->
	<div class="dez-bnr-inr overlay-black-middle" style="background-image:url({% static 'images/banner/bnr1.jpg' %});">
		<div class="container">
			<div class="dez-bnr-inr-entry">
				<h1 class="text-white"> News in {{ category.category_name }} category </h1>
				<!-- Breadcrumb row -->
				<div class="breadcrumb-row">
					<ul class="list-inline">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li>Category news</li>
					</ul>
				</div>
				<!-- Breadcrumb row END -->
			</div>
		</div>
	</div>
	<!-- inner page banner END -->
	<!-- contact area -->
	<div class="content-area">
		<div class="container">
			<div class="row">
				<!-- Left part start -->
				<div class="col-xl-9 col-lg-8 col-md-7 m-b10">
					{% for news in news_in_category %}
					<div class="blog-post blog-md clearfix">
						<div class="dez-post-media dez-img-effect zoom-slow radius-sm"> <a href="{% url 'blog_details' news.id %}"><img src="{{ news.image.url }}" alt="{{ news.title }}" ></a> </div>
						<div class="dez-post-info">
							<div class="dez-post-meta">
								<ul class="d-flex align-items-center">
									<li class="post-date"><i class="fa fa-calendar"></i>{{ news.created_at }}</li>
									<li class="post-author"><i class="fa fa-user"></i>By <a href="blog-left-img.html#">{{ news.author }}</a> </li>
									<li class="post-comment"><i class="far fa-comments"></i><a href="blog-left-img.html#">{{ news.comments.count }}</a> </li>
								</ul>
							</div>
							<div class="dez-post-title ">
								<h4 class="post-title font-24"><a href="{% url 'blog_details' news.id %}">{{ news.title }}</a></h4>
							</div>
							<div class="dez-post-text">
								<p>{{ news.content|truncatewords:20 }}</p>
							</div>
							<div class="dez-post-readmore blog-share"> 
								<a href="{% url 'blog_details' news.id %}" title="READ MORE" rel="bookmark" class="site-button-link"><span class="fw6">READ MORE</span></a>
							</div>
						</div>
					</div>
					{% endfor %}

					<!-- Pagination start -->
				   <div class="pagination-bx clearfix text-center">
						<ul class="pagination">
							<li class="previous"><a href="javascript:void(0);"><i class="ti-arrow-left"></i> Prev</a></li>
							<li class="active"><a href="blog-left-img.html#">1</a></li>
							<li><a href="javascript:void(0);">2</a></li>
							<li><a href="javascript:void(0);">3</a></li>
							<li class="next"><a href="javascript:void(0);">Next <i class="ti-arrow-right"></i></a></li>
						</ul>
					</div>
					<!-- Pagination END -->
				</div>
				<!-- Left part END -->
				<!-- Side bar start -->
				<div class="col-xl-3 col-lg-4 col-md-5 sticky-top">
					<aside  class="side-bar">
						<div class="widget">
							<h6 class="widget-title style-1">Search</h6>
							<div class="search-bx style-1">
								<form role="search" method="post">
									<div class="input-group">
										<input name="text" class="form-control" placeholder="Enter your keywords..." type="text">
										<span class="input-group-btn">
											<button type="submit" class="fa fa-search text-primary"></button>
										</span> 
									</div>
								</form>
							</div>
						</div>
						<div class="widget recent-posts-entry">
							<h6 class="widget-title style-1">Recent Posts</h6>
							<div class="widget-post-bx">
								{% for rpost in topRecentNews %}
								<div class="widget-post clearfix">
									<div class="dez-post-media"> <img src="{{ rpost.image.url }}" width="200" height="143" alt=""> </div>
									<div class="dez-post-info">
										<div class="dez-post-header">
											<h6 class="post-title"><a href="{% url 'blog_details' rpost.id %}">{{ rpost.title }}</a></h6>
										</div>
										<div class="dez-post-meta">
											<ul class="d-flex align-items-center">
												<li class="post-date"><i class="fa fa-calendar"></i>{{ rpost.created_at}}</li>
												<li class="post-comment"><a href="blog-left-img.html#"><i class="far fa-comments"></i>{{ rpost.comments.count }}</a> </li>
											</ul>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						
						<div class="widget widget_gallery gallery-grid-3">
							<h6 class="widget-title style-1">Our services</h6>
							<ul class="lightgallery">
								<li>
									<span data-exthumbimage="{% static 'images/gallery/small/pic1.jpg' %}" data-src="{% static 'images/gallery/middle/pic1.jpg' %}" class="lightimg dez-img-overlay1 dez-img-effect zoom-slow" title="Maintenance">	
										<img src="{% static 'images/gallery/middle/pic1.jpg' %}" alt=""> 
									</span>
								</li>
								<li>
									<span data-exthumbimage="{% static 'images/gallery/small/pic2.jpg' %}" data-src="{% static 'images/gallery/middle/pic2.jpg' %}" class="lightimg dez-img-overlay1 dez-img-effect zoom-slow" title="Maintenance">	
										<img src="{% static 'images/gallery/middle/pic2.jpg' %}" alt=""> 
									</span>
								</li>
								<li>
									<span data-exthumbimage="{% static 'images/gallery/small/pic3.jpg' %}" data-src="{% static 'images/gallery/middle/pic3.jpg' %}" class="lightimg dez-img-overlay1 dez-img-effect zoom-slow" title="Maintenance">	
										<img src="{% static 'images/gallery/middle/pic3.jpg' %}" alt=""> 
									</span>
								</li>
								<li>
									<span data-exthumbimage="{% static 'images/gallery/small/pic4.jpg' %}" data-src="{% static 'images/gallery/middle/pic4.jpg' %}" class="lightimg dez-img-overlay1 dez-img-effect zoom-slow" title="Maintenance">	
										<img src="{% static 'images/gallery/middle/pic4.jpg' %}" alt=""> 
									</span>
								</li>
								<li>
									<span data-exthumbimage="{% static 'images/gallery/small/pic5.jpg' %}" data-src="{% static 'images/gallery/middle/pic5.jpg' %}" class="lightimg dez-img-overlay1 dez-img-effect zoom-slow" title="Maintenance">	
										<img src="{% static 'images/gallery/middle/pic5.jpg' %}" alt=""> 
									</span>
								</li>
								<li>
									<span data-exthumbimage="{% static 'images/gallery/small/pic6.jpg' %}" data-src="{% static 'images/gallery/middle/pic6.jpg' %}" class="lightimg dez-img-overlay1 dez-img-effect zoom-slow" title="Maintenance">	
										<img src="{% static 'images/gallery/middle/pic6.jpg' %}" alt=""> 
									</span>
								</li>
							</ul>
						</div>
						
						<div class="widget widget_archive">
							<h6 class="widget-title style-1">Categories List</h6>
							<ul>
								{% for category in categories %}
								<li><a href="{% url 'blogs_by_cat' category.id %}">{{ category }}</a></li>
								{% endfor %}
							</ul>
						</div>
						
						<div class="widget widget-newslatter">
							<h6 class="widget-title style-1">Newsletter</h6>
							<div class="news-box">
								<p>Enter your e-mail and subscribe to our newsletter.</p>
								<form class="dzSubscribe" action="https://job-board.dexignzone.com/xhtml/script/mailchamp.php" method="post">
									<div class="dzSubscribeMsg"></div>
									<div class="input-group">
										<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email"/>
										<button name="submit" value="Submit" type="submit" class="site-button btn-block">Subscribe Now</button>
									</div>
								</form>
							</div>
						</div>
					</aside>
				</div>
				<!-- Side bar END -->
			</div>
		</div>
	</div>
</div>
{% endblock %}